Repository kaminskypavel/fullpower-stack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: upgrade to vite@4 🎉
  package.json
  pnpm-lock.yaml
Due: none

test(ui): fix vitest test for @ui
  apps/vite/src/App.tsx
  package.json
  packages/ui/package.json
  packages/ui/setupTests.ts
  packages/ui/src/Button/Button.test.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write

chore(backend): lint context.ts
  apps/backend/express/src/trpc/context.ts
Due: prettier --write

ci: relax contributors task
  .github/workflows/contributors.yml
Due: none

Update README.md
  README.md
Due: prettier --write

feat(next): migrate to next@13
  apps/nextjs/.eslintrc.js
  apps/nextjs/next.config.js
  apps/nextjs/package.json
Due: eslint --fix, prettier --write

ci: disable contributors job, there arent too many atm
  .github/workflows/contributors.yml
  README.md
Due: prettier --write

feat(e2e): add initial playwright config
  .github/workflows/contributors.yml
  .gitignore
  apps/vite/.gitignore
  package.json
  pnpm-lock.yaml
Due: none

fix(nextjs): migrate to create next starter
  apps/nextjs/next.config.js
  apps/nextjs/package.json
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/_document.tsx
  apps/nextjs/pages/api/hello.ts
  apps/nextjs/pages/index.tsx
  apps/nextjs/postcss.config.js
  apps/nextjs/public/favicon.ico
  apps/nextjs/public/next.svg
  apps/nextjs/public/thirteen.svg
  apps/nextjs/public/vercel.svg
  apps/nextjs/styles/Home.module.css
  apps/nextjs/styles/globals.css
  apps/nextjs/tailwind.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

build: fix ci build
  pnpm-lock.yaml
Due: none

ci: recommit pnpm-lock
  pnpm-lock.yaml
Due: none

build(vite): add react types
  apps/vite/package.json
  pnpm-lock.yaml
Due: none

test(nextjs): integrate vite testing suite
  apps/nextjs/setupTests.ts
  apps/nextjs/tsconfig.json
  apps/nextjs/vitest.config.ts
Due: prettier --write

test(next): introduce RTL tests
  apps/nextjs/components/index.spec.ts
  apps/nextjs/pages/index.spec.tsx
  apps/nextjs/pages/index.tsx
Due: prettier --write

test(nextjs): add playwright initial tests
  apps/nextjs/e2e/click-boop-button.spec.ts
  apps/nextjs/e2e/demo-todo-app.spec.ts
  apps/nextjs/package.json
  apps/nextjs/pages/index.spec.tsx
  apps/nextjs/playwright.config.ts
  turbo.json
Due: prettier --write

ci(nextjs): run e2e tests on ci
  apps/nextjs/e2e/click-boop-button.spec.ts
  apps/nextjs/package.json
  apps/nextjs/playwright.config.ts
  turbo.json
Due: prettier --write

refactor(next): move test to a different dir
  apps/nextjs/__tests__/e2e/click-boop-button.spec.ts
  apps/nextjs/__tests__/e2e/demo-todo-app.spec.ts
  apps/nextjs/__tests__/index.spec.tsx
  apps/nextjs/pages/api/hello.ts
  apps/nextjs/playwright.config.ts
  apps/nextjs/tsconfig.json
Due: prettier --write

test(ci): make e2e test to run on CI
  .github/workflows/ci.yml
  apps/nextjs/package.json
  apps/nextjs/vitest.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

chore: add .vscode ext recoomendation [skip ci]
  .vscode/extensions.json
Due: none

feat(nextjs): integrate tRPC into next so we can make a sophisticated playwright test
  apps/nextjs/next.config.js
  apps/nextjs/package.json
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/index.tsx
  apps/nextjs/pages/services/queryClient.ts
  apps/nextjs/pages/services/trpc.ts
  apps/nextjs/styles/Home.module.css
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: add a codesadnbox.io link
  README.md
Due: prettier --write

chore: upgrade prisma to 4.8.0
  packages/database/package.json
  pnpm-lock.yaml
Due: none

refactor(db): migrate from JS native `private` syntax to TS syntax - else it breaks next build
  packages/database/src/index.ts
Due: prettier --write

refactor(next): move `services` (trpc) outside `pages` folder
  README.md
  apps/nextjs/next.config.js
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/index.tsx
  apps/nextjs/services/queryClient.ts
  apps/nextjs/services/trpc.ts
Due: eslint --fix, prettier --write

test(nextjs): fix rtl testing when using tRPC in next
  apps/nextjs/__tests__/index.spec.tsx
Due: prettier --write

docker(backend): add initial docker image build
  .dockerignore
  apps/backend/express/Dockerfile
  apps/nextjs/__tests__/index.spec.tsx
  docker-compose.yml
  package.json
Due: prettier --write

feat(vite): make vite dockerized play well with express
  apps/vite/.env
  apps/vite/Dockerfile
  apps/vite/package.json
  apps/vite/src/App.tsx
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

docker(vite): improve dockerfile build
  apps/backend/express/Dockerfile
  docker-compose.yml
Due: none

docker(nextjs): add a docker file
  apps/nextjs/.gitignore
  apps/nextjs/Dockerfile
  apps/nextjs/next.config.js
  apps/nextjs/pages/api/hello.ts
  apps/nextjs/tsconfig.json
  docker-compose.yml
Due: eslint --fix, prettier --write

docker: add dependency on express for frontentds
  docker-compose.yml
Due: none

commit
  README.md
  apps/nextjs/__tests__/index.spec.tsx
  apps/nextjs/next.config.js
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/index.tsx
  apps/nextjs/services/queryClient.ts
  apps/nextjs/services/trpc.ts
  package.json
  packages/database/package.json
  packages/database/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix
  package.json
  pnpm-lock.yaml
Due: none

fix
  apps/nextjs/next.config.js
Due: eslint --fix, prettier --write

lint
  .lintstagedrc.js
Due: eslint --fix, prettier --write

commit
  .gitignore
Due: none

fixes
  .github/workflows/e2e-ci.yml
  apps/backend/express/src/trpc/post.ts
  apps/nextjs/.npmrc
  apps/nextjs/__tests__/e2e/smoke.test.ts
  apps/nextjs/__tests__/e2e/test.ts
  apps/nextjs/dev.Dockerfile
  apps/nextjs/prod.Dockerfile
  apps/nextjs/src/components/DefaultLayout.tsx
  apps/nextjs/src/components/Post.tsx
  apps/nextjs/src/pages/_app.tsx
  apps/nextjs/src/pages/_document.tsx
  apps/nextjs/src/pages/api/hello.ts
  apps/nextjs/src/pages/index.tsx
  apps/nextjs/src/pages/post/[id].tsx
  apps/nextjs/src/services/queryClient.ts
  apps/nextjs/src/services/trpc.ts
  apps/nextjs/src/styles/Home.module.css
  apps/nextjs/src/styles/globals.css
  apps/vite/dev.Dockerfile
  apps/vite/prod.Dockerfile
  docker-compose.dev.yml
  docker-compose.prod.yml
  packages/database/prisma/_sqlite/migrations/20221230220947_init/migration.sql
  packages/database/prisma/_sqlite/migrations/20230101002645_init/migration.sql
  packages/database/prisma/_sqlite/migrations/20230101054435_init/migration.sql
  packages/database/prisma/_sqlite/migrations/20230101090402_init/migration.sql
  packages/database/prisma/_sqlite/migrations/migration_lock.toml
  packages/database/prisma/_sqlite/schema.prisma
  packages/database/prisma/seed.ts
  packages/schema/src/zod/postSchema.ts
Due: prettier --write

commit
  .npmrc
  apps/astro/package.json
  apps/backend/express/.eslintcache
  apps/backend/express/package.json
  apps/backend/express/src/app.ts
  apps/backend/express/src/trpc/appRouter.ts
  apps/backend/express/src/trpc/context.ts
  apps/backend/express/src/trpc/isAuthedMiddleware.ts
  apps/backend/express/src/trpc/loggerMiddleware.ts
  apps/backend/express/src/trpc/trpc.ts
  apps/nextjs/.eslintrc.js
  apps/nextjs/__tests__/index.spec.tsx
  apps/nextjs/next.config.js
  apps/nextjs/package.json
  apps/nextjs/playwright.config.ts
  apps/nextjs/tailwind.config.js
  apps/vite/.eslintcache
  apps/vite/.gitignore
  apps/vite/package.json
  apps/vite/src/App.tsx
  apps/vite/src/pages/AddUser/index.tsx
  apps/vite/src/pages/Cats/index.tsx
  apps/vite/src/services/trpc.ts
  apps/vite/src/vite-env.d.ts
  apps/vite/vite.config.ts
  package.json
  packages/database/.env
  packages/database/.eslintcache
  packages/database/package.json
  packages/database/prisma/schema.prisma
  packages/database/src/index.ts
  packages/schema/.eslintcache
  packages/schema/src/index.ts
  packages/ui/.eslintcache
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

WIP: 172bbca test(nextjs): fix rtl testing when using tRPC in next
  apps/backend/express/.eslintcache
  apps/backend/express/src/server.ts
  apps/nextjs/__tests__/e2e/click-boop-button.spec.ts
  apps/nextjs/pages/_app.tsx
  apps/nextjs/pages/_document.tsx
  apps/nextjs/pages/api/hello.ts
  apps/nextjs/pages/index.tsx
  apps/nextjs/services/queryClient.ts
  apps/nextjs/services/trpc.ts
  apps/nextjs/styles/Home.module.css
  apps/nextjs/styles/globals.css
  apps/remix/.eslintcache
  apps/remix/.eslintrc.js
  apps/remix/README.md
  apps/remix/app/entry.client.tsx
  apps/remix/app/entry.server.tsx
  apps/remix/app/root.tsx
  apps/remix/app/routes/index.spec.tsx
  apps/remix/app/routes/index.tsx
  apps/remix/app/routes/jokes.tsx
  apps/remix/app/routes/jokes/$jokeId.tsx
  apps/remix/app/routes/jokes/index.tsx
  apps/remix/app/routes/jokes/new.tsx
  apps/remix/app/styles/app.css
  apps/remix/package.json
  apps/remix/public/favicon.ico
  apps/remix/remix.config.js
  apps/remix/remix.env.d.ts
  apps/remix/styles/app.css
  apps/remix/tailwind.config.js
  apps/remix/tsconfig.json
  apps/vite/src/pages/AddUser/index.tsx
  apps/vite/vite.config.ts
  packages/database/.eslintcache
  packages/schema/.eslintcache
  packages/ui/.eslintcache
Due: eslint --fix, prettier --write

fixes
  apps/nextjs/src/services/trpc.ts
  packages/database/.env
  packages/database/package.json
  pnpm-lock.yaml
Due: prettier --write

fix
  packages/database/package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
