Repository kaminskypavel/fullpower-stack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: integrate eslint pre-commit task
  .lintstagedrc
  apps/web/next.config.js
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: add images to readme
  README.md
Due: prettier --write

chore: add eslint husky ls to readme
  README.md
Due: prettier --write

fix: upgrade prettier and add eslint-config-prettier to play nicely with eslint
  .lintstagedrc
  package.json
  packages/eslint-config-custom/index.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

fix: change prettier config to sort tailwind classes automatically
  .lintstagedrc
  .lintstagedrc.js
  .vscode/settings.json
  prettier.config.js
Due: eslint --fix, prettier --write

feat: add initial tRPC integration between express server and vite
  apps/backend/express/package.json
  apps/backend/express/src/appRouter.ts
  apps/backend/express/src/server.ts
  apps/backend/express/src/tsconfig.json
  apps/vite/package.json
  apps/vite/src/App.tsx
  apps/vite/src/components/Login/index.tsx
  apps/vite/src/components/TrpcButton/index.tsx
  apps/vite/src/index.css
  apps/vite/src/pages/LoginPage/LoginPage.test.tsx
  apps/vite/src/pages/LoginPage/assets/react.svg
  apps/vite/src/pages/LoginPage/index.tsx
  apps/vite/src/services/trpc.ts
  apps/vite/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: testing git hooks
  apps/vite/src/components/TrpcButton/index.tsx
Due: prettier --write

chore: consolidate eslint deps in the root package
  apps/backend/express/package.json
  apps/backend/express/src/appRouter.ts
  packages/ui/package.json
  packages/ui/src/Button/Button.tsx
  packages/ui/src/index.tsx
Due: prettier --write

fix(vite): remove lint and build errors,
  apps/vite/setupTests.ts
  apps/vite/src/components/Login/index.stories.tsx
  apps/vite/src/pages/LoginPage/LoginPage.test.tsx
  apps/vite/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(express): fix lint and build task
  apps/backend/express/package.json
  apps/backend/express/tsconfig.json
Due: none

feat: add github test action
  .github/workflows/ci.yml
  package.json
  turbo.json
Due: none

fix(turbo): add pipeline for vitest test and split to two task of "test" and "test:watch"
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

fix(ui): add react so vitest wont fail
  packages/ui/package.json
Due: none

fix(backend): split express into app.ts and servers.ts and add basic test with supertest
  apps/backend/express/package.json
  apps/backend/express/src/app.spec.ts
  apps/backend/express/src/app.ts
  apps/backend/express/src/server.ts
  apps/backend/express/src/tsconfig.json
  apps/backend/express/vitest.config.js
Due: eslint --fix, prettier --write

fix(tsconfig): add vitest globals
  packages/tsconfig/base.json
Due: none

fix(vite): fix test after adding tRPC providers
  apps/vite/package.json
  apps/vite/src/components/TrpcButton/index.tsx
  apps/vite/src/pages/LoginPage/LoginPage.test.tsx
  apps/vite/src/pages/LoginPage/index.tsx
Due: prettier --write

chore: improve lint-staged prettier pattern
  .lintstagedrc.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(next): add initial tests
  apps/web/package.json
  apps/web/pages/index.spec.ts
  turbo.json
Due: prettier --write

fix(next): fix build process
  apps/backend/express/src/app.spec.ts
  apps/backend/express/src/app.ts
  apps/backend/express/tsconfig.json
  apps/backend/express/vitest.config.js
  apps/web/components/index.spec.ts
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: remove tsconfig package completly and use @tsconfig/base in all app and packages
  apps/backend/express/package.json
  apps/vite/package.json
  apps/vite/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/tsconfig/README.md
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

fix: upgrade pnpm version in CI and lock file
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

refactor: unify eslint for all packages
  .eslintrc.js
  apps/backend/express/package.json
  apps/backend/express/src/app.ts
  apps/vite/package.json
  apps/vite/src/components/TrpcButton/index.tsx
  apps/vite/src/pages/LoginPage/index.tsx
  apps/web/.eslintrc.js
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/index.tsx
  package.json
  packages/eslint-config-custom/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: add ci build status
  README.md
Due: prettier --write

docs: update readme status
  README.md
Due: prettier --write

fix(express): add tsup for bundling the server (so turborepo can cache it)
  apps/backend/express/package.json
  apps/backend/express/src/app.ts
  apps/vite/src/services/trpc.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add React import to keep eslint happy
  apps/vite/src/pages/LoginPage/index.tsx
Due: prettier --write

fix(server): fix "build" task
  apps/backend/express/package.json
Due: none

fix(vite): add an api call to server to retrive cat images
  apps/backend/express/package.json
  apps/backend/express/src/appRouter.ts
  apps/backend/express/src/server.ts
  apps/vite/package.json
  apps/vite/src/components/TrpcButton/index.tsx
  apps/vite/src/pages/LoginPage/index.tsx
  package.json
  packages/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: move "web" to "nextjs"
  apps/nextjs/README.md
  apps/nextjs/components/index.spec.ts
  apps/nextjs/next-env.d.ts
  apps/nextjs/next.config.js
  apps/nextjs/package.json
  apps/nextjs/pages/index.tsx
  apps/nextjs/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(database): introduce a database package
  packages/database/package.json
  packages/database/setupTests.ts
  packages/database/src/index.spec.ts
  packages/database/src/index.ts
  packages/database/tsconfig.json
  packages/database/vite.config.ts
Due: prettier --write

fix(express): a better structure for the tRPC server and its middlewares
  apps/backend/express/package.json
  apps/backend/express/src/app.ts
  apps/backend/express/src/appRouter.ts
  apps/backend/express/src/controllers/cat.ts
  apps/backend/express/src/trpc/appRouter.ts
  apps/backend/express/src/trpc/context.ts
  apps/backend/express/src/trpc/isAuthedMiddleware.ts
  apps/backend/express/src/trpc/loggerMiddleware.ts
  apps/backend/express/src/trpc/trpc.ts
  apps/vite/src/components/TrpcButton/index.tsx
  package.json
  packages/database/package.json
  packages/database/src/index.spec.ts
  packages/database/src/index.ts
  packages/database/tsconfig.json
  packages/database/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

feat(prisma): add a database package
  packages/database/.gitignore
  packages/database/package.json
  packages/database/prisma/dev.db
  packages/database/prisma/migrations/20221026152715_init/migration.sql
  packages/database/prisma/migrations/migration_lock.toml
  packages/database/prisma/schema.prisma
  packages/database/src/index.spec.ts
  packages/database/src/index.ts
  packages/database/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

ci(primsa): add a dummy test to pass ci
  packages/database/src/index.spec.ts
Due: prettier --write

fix(trpc): export appRouter type so it can be imported to client
  apps/backend/express/package.json
  apps/backend/express/src/server.ts
  apps/vite/package.json
  apps/vite/src/pages/LoginPage/index.tsx
  apps/vite/src/services/trpc.ts
  pnpm-lock.yaml
Due: prettier --write

feat(database): integrate a db module into trpc backend
  apps/backend/express/package.json
  apps/backend/express/src/app.ts
  apps/backend/express/src/trpc/appRouter.ts
  packages/database/package.json
  packages/database/prisma/dev.db
  packages/database/src/index.ts
Due: prettier --write

fix(ui): add tailwind to ladle so we can preview the components
  packages/ui/.ladle/components.tsx
  packages/ui/.ladle/config.mjs
  packages/ui/.ladle/styles.css
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/setupTests.ts
  packages/ui/src/AddUserForm/AddUserForm.stories.tsx
  packages/ui/src/AddUserForm/AddUserForm.tsx
  packages/ui/src/Button/Button.test.tsx
  packages/ui/src/Button/Button.tsx
  packages/ui/tailwind.config.js
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add a small task "dev:vite" to run only backend and vite
  apps/vite/package.json
  package.json
Due: none

ci: update lockfile
  pnpm-lock.yaml
Due: none

docs: add a logo
  README.md
  docs/logo.png
Due: prettier --write

chore: fix vite tsconfig
  apps/vite/tsconfig.json
  apps/vite/tsconfig.node.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
