Repository kaminskypavel/fullpower-stack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add .eslintcache to ignore
  .gitignore
Due: none

test: run related test on changed files
  .lintstagedrc.js
Due: eslint --fix, prettier --write

chore: remove ts-ignore since tRPC is updated
  .lintstagedrc.js
  apps/backend/express/src/app.ts
Due: eslint --fix, prettier --write

chore: upgrade to eslint@8
  package.json
Due: none

refcator: drop eslint-custom-package from all apps
  packages/database/package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/ui/package.json
Due: eslint --fix, prettier --write

feat: integrate @antfu/eslint-config
  .eslintrc.js
  .lintstagedrc.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add .eslintcache to .gitignore
  .gitignore
Due: none

fix: make turbo cache eslint "lint" task
  .eslintrc.js
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

chore: prevent prettier running onSave (vscode)
  .vscode/settings.json
Due: none

lint: run newly added setting of eslint across all apps and packages
  apps/backend/express/.eslintcache
  apps/backend/express/package.json
  apps/backend/express/src/app.spec.ts
  apps/backend/express/src/app.ts
  apps/backend/express/src/controllers/cat.ts
  apps/backend/express/src/server.ts
  apps/backend/express/src/trpc/appRouter.ts
  apps/backend/express/src/trpc/context.ts
  apps/backend/express/src/trpc/isAuthedMiddleware.ts
  apps/backend/express/src/trpc/loggerMiddleware.ts
  apps/backend/express/src/trpc/trpc.ts
  apps/backend/express/vitest.config.js
  apps/nextjs/.eslintrc.js
  apps/nextjs/components/index.spec.ts
  apps/nextjs/package.json
  apps/nextjs/pages/index.tsx
  apps/vite/.eslintcache
  apps/vite/package.json
  apps/vite/setupTests.ts
  apps/vite/vite.config.ts
  packages/database/package.json
  packages/database/setupTests.ts
  packages/database/src/client.ts
  packages/database/src/index.spec.ts
  packages/database/src/index.ts
  packages/schema/package.json
  packages/schema/src/index.ts
  packages/schema/src/zod/catSchema.ts
  packages/schema/src/zod/userSchema.ts
  packages/ui/setupTests.ts
  packages/ui/vitest.config.ts
Due: eslint --fix, prettier --write

fix: add missing faker-js dep
  apps/remix/app/styles/app.css
  package.json
  packages/database/package.json
  pnpm-lock.yaml
Due: prettier --write

build: refresh pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update README.md
  README.md
Due: prettier --write

readme
  README.md
Due: prettier --write

commit dev-stack
  .github/workflows/dev-stack.yml
Due: none

new action
  .github/workflows/dev-stack.yml
Due: none

modules
  apps/vite/tsconfig.json
Due: none

fix
  apps/vite/setupTests.ts
  apps/vite/vite.config.ts
Due: prettier --write

path
  apps/vite/vite.config.ts
Due: prettier --write

docs: remove old pre html table
  README.md
Due: prettier --write

docs: move CONTRIBUTING to /docs
  docs/CONTRIBUTING.md
Due: prettier --write

Update dev-stack.yml
  .github/workflows/dev-stack.yml
Due: none

adding sandbox config file.
  apps/remix/app/styles/app.css
  sandbox.config.json
Due: prettier --write

Update default homepage to Welcome to Fullpower Stack
  apps/astro/src/pages/index.astro
  apps/nextjs/pages/index.tsx
  apps/remix/app/routes/index.tsx
Due: prettier --write

docs: integrate CSB link [skip ci]
  README.md
Due: prettier --write

docs: make the demo section bigger in README [skip ci]
  README.md
Due: prettier --write

fix
  .github/workflows/ci.yml
  .github/workflows/dev-stack.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

Revert "fix"
  .github/workflows/ci.yml
  .github/workflows/dev-stack.yml
Due: none

Revert "Merge branch 'patch-6' of https://github.com/vithano/fullpower-stack into patch-6"
  .github/workflows/ci.yml
  .github/workflows/dev-stack.yml
Due: none

fix
  .github/workflows/dev-stack.yml
Due: none

Update package.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
