Repository kaminskypavel/fullpower-stack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.js": "eslint --fix",
    "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

fix(prisma): add a postinstall prisma generate script
  packages/database/package.json
Due: none

chore: fix vite tsconfig to exclude test
  apps/vite/src/pages/LoginPage/LoginPage.test.tsx
  apps/vite/tsconfig.json
Due: prettier --write

chore: upgrade tTPC to 10.0.0-rc.1
  apps/backend/express/package.json
  apps/vite/package.json
  pnpm-lock.yaml
Due: none

test(express): fix failing test
  apps/backend/express/src/app.spec.ts
Due: prettier --write

ci: disable build step for now
  .github/workflows/ci.yml
Due: none

fix(vite): make tailwind pick up changes in deps from "ui" package
  apps/vite/tailwind.config.cjs
Due: none

fix(eslint): remove next from the custom eslint and add it to next only
  apps/nextjs/.eslintrc.js
  packages/eslint-config-custom/index.js
Due: eslint --fix, prettier --write

feat: integrate a shared components to use in vite
  apps/vite/src/App.tsx
  apps/vite/src/index.css
  apps/vite/src/pages/AddUserPage/index.tsx
  apps/vite/src/pages/LoginPage/index.tsx
  packages/ui/src/AddUserForm/AddUserForm.tsx
  packages/ui/src/UsersList/UsersList.stories.tsx
  packages/ui/src/UsersList/UsersList.tsx
  packages/ui/src/index.tsx
Due: prettier --write

feat(vite): add a reactive form to vite
  apps/backend/express/src/trpc/appRouter.ts
  apps/vite/package.json
  apps/vite/src/components/AddUserForm/AddUserForm.tsx
  apps/vite/src/pages/AddUserPage/index.tsx
  package.json
  packages/database/prisma/dev.db
  packages/database/src/index.ts
  packages/ui/src/AddUserForm/AddUserForm.stories.tsx
  packages/ui/src/index.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

refactor: externalize react-query client to it's own service
  apps/vite/src/App.tsx
  apps/vite/src/hooks/usePrevios.ts
  apps/vite/src/pages/AddUserPage/index.tsx
  apps/vite/src/services/queryClient.ts
Due: prettier --write

chore: lint
  apps/backend/express/package.json
  apps/backend/express/src/trpc/appRouter.ts
  packages/database/src/index.ts
Due: prettier --write

chore: revert express build disable
  apps/backend/express/package.json
Due: none

chore: fix typing of trpc context's opts
  apps/backend/express/src/trpc/context.ts
Due: prettier --write

chore: add dotenv to workspace
  package.json
  pnpm-lock.yaml
Due: none

feat(vite): remove dead code and add react-hot-toast to reflect trpc calls
  apps/vite/.env
  apps/vite/package.json
  apps/vite/src/App.tsx
  apps/vite/src/components/AddUserForm/AddUserForm.tsx
  apps/vite/src/components/Login/index.stories.tsx
  apps/vite/src/components/Login/index.tsx
  apps/vite/src/components/TrpcButton/index.tsx
  apps/vite/src/pages/AddUserPage/index.tsx
  apps/vite/src/pages/LoginPage/LoginPage.test.tsx
  apps/vite/src/pages/LoginPage/assets/react.svg
  apps/vite/src/pages/LoginPage/index.tsx
Due: prettier --write

feat: make a nice highligh in the user table each time we add a user
  apps/vite/src/hooks/usePrevious.ts
  apps/vite/src/pages/AddUserPage/index.tsx
  apps/vite/tailwind.config.cjs
  packages/ui/src/UsersList/UsersList.stories.tsx
  packages/ui/src/UsersList/UsersList.tsx
  packages/ui/tailwind.config.cjs
  packages/ui/tailwind.config.js
Due: eslint --fix, prettier --write

feat(vite): add @tanstack/react-query-devtools
  apps/vite/package.json
  apps/vite/src/App.tsx
Due: prettier --write

refactor(schema): create a mutual schema package where we utilize zod for both client and server communication
  apps/backend/express/package.json
  apps/backend/express/src/app.spec.ts
  apps/backend/express/src/trpc/appRouter.ts
  apps/vite/src/components/AddUserForm/AddUserForm.tsx
  apps/vite/src/hooks/usePrevios.ts
  apps/vite/src/pages/AddUserPage/index.tsx
  apps/vite/src/services/trpc.ts
  apps/vite/vite.config.ts
  packages/database/.env
  packages/database/.gitignore
  packages/database/package.json
  packages/database/prisma/dev.db
  packages/schema/package.json
  packages/schema/src/index.ts
  packages/schema/src/zod/addUserSchema.ts
  packages/schema/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

feat(remix): initila integration of remix version 1
  .eslintrc.js
  .gitignore
  apps/remix/.eslintrc.js
  apps/remix/README.md
  apps/remix/app/entry.client.tsx
  apps/remix/app/entry.server.tsx
  apps/remix/app/root.tsx
  apps/remix/app/routes/index.tsx
  apps/remix/package.json
  apps/remix/public/favicon.ico
  apps/remix/remix.config.js
  apps/remix/remix.env.d.ts
  apps/remix/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: add @fullpower-stack name into package
  apps/remix/package.json
Due: none

remix: migrate to "jokeapp" front end only for now
  apps/remix/app/root.tsx
  apps/remix/app/routes/index.tsx
  apps/remix/app/routes/jokes.tsx
  apps/remix/app/routes/jokes/$jokeId.tsx
  apps/remix/app/routes/jokes/index.tsx
  apps/remix/app/routes/jokes/new.tsx
  apps/remix/app/styles/index.css
Due: prettier --write

chore: fix eslint issues with remix
  apps/remix/.eslintrc.js
Due: eslint --fix, prettier --write

feat(remix): integrate tailwind
  apps/remix/package.json
  apps/remix/remix.config.js
  apps/remix/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

remix: add ui/button to test tailwind in remix
  apps/remix/app/root.tsx
  apps/remix/app/routes/index.tsx
  apps/remix/app/styles/app.css
  apps/remix/app/styles/index.css
  apps/remix/styles/app.css
  apps/remix/tsconfig.json
Due: prettier --write

docs: add logos and update README
  README.md
  docs/apps/nextjs.svg
  docs/apps/remix.png
  docs/apps/vite.svg
Due: prettier --write

docs: minor update to docs
  README.md
Due: prettier --write

test: fix test that breaks build
  apps/remix/app/routes/index.spec.tsx
  apps/vite/package.json
  packages/schema/package.json
Due: prettier --write

ci: do not run actions on changes in doc
  .github/workflows/ci.yml
  README.md
Due: prettier --write

chore: upgrade prisma to 4.6.1
  packages/database/package.json
  pnpm-lock.yaml
Due: none

fix(vite): add an ssl support and proxy for the backend
  apps/backend/express/src/app.ts
  apps/backend/express/src/trpc/appRouter.ts
  apps/vite/.env
  apps/vite/package.json
  apps/vite/src/App.tsx
  apps/vite/vite.config.ts
Due: prettier --write

feat(astro): add initial empty project
  apps/astro/.gitignore
  apps/astro/README.md
  apps/astro/astro.config.mjs
  apps/astro/package.json
  apps/astro/public/favicon.svg
  apps/astro/src/components/Card.astro
  apps/astro/src/env.d.ts
  apps/astro/src/layouts/Layout.astro
  apps/astro/src/pages/index.astro
  apps/astro/tsconfig.json
Due: prettier --write

docs: add astro to docs
  README.md
  docs/apps/astro.svg
  packages/database/prisma/dev.db
  pnpm-lock.yaml
Due: prettier --write

fix(backend): remove dead import that was not compiling
  apps/vite/src/services/trpc.ts
Due: prettier --write

fix(database): improve prisma and turbo integration according to turbo's docs
  .npmrc
  apps/backend/express/src/trpc/appRouter.ts
  apps/remix/app/styles/app.css
  packages/database/package.json
  packages/database/src/index.ts
  turbo.json
Due: prettier --write

fix(remix): exclude .spec files
  apps/remix/remix.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: upgrade vite and typescript
  package.json
  pnpm-lock.yaml
Due: none

test(vite): initial integration of MSW for testing with RTL
  README.md
  apps/vite/package.json
  apps/vite/public/mockServiceWorker.js
  apps/vite/setupTests.ts
  apps/vite/src/App.tsx
  apps/vite/src/mocks/browser.ts
  apps/vite/src/mocks/handlers.ts
  apps/vite/src/mocks/server.ts
Due: eslint --fix, prettier --write

chore(vite): disable ssl for now
  apps/vite/vite.config.ts
Due: prettier --write

test(vite): add a dummy test utilizing react-testing-library and msw
  apps/vite/setupTests.ts
  apps/vite/src/App.spec.tsx
  apps/vite/tsconfig.json
Due: prettier --write

ci: add build action
  .github/workflows/ci.yml
Due: none
