Repository kaminskypavel/fullpower-stack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.js": "eslint --fix",
    "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

fix
  turbo.json
Due: none

lock
  pnpm-lock.yaml
Due: none

setup
  apps/nextjs/tsconfig.json
Due: none

fix
  apps/backend/express/src/app.spec.ts
  apps/backend/express/src/app.ts
Due: prettier --write

fixes
  .npmrc
  apps/nextjs/.npmrc
Due: none

fixes
  docker-compose.yml
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

remove next from tests
  apps/nextjs/vitest.config.ts
Due: prettier --write

fix
  apps/nextjs/README.md
  apps/nextjs/__tests__/e2e/demo-todo-app.spec.ts
  apps/nextjs/__tests__/index.spec.tsx
  apps/nextjs/__tests__/test.ts
  apps/nextjs/e2e/smoke.spec.ts
  apps/nextjs/playwright.config.ts
  apps/nextjs/src/services/trpc.ts
Due: prettier --write

test: add initial manuall load testing
  e2e/artillery-vite.yml
  package.json
  pnpm-lock.yaml
Due: none

fix
  apps/astro/package.json
  apps/nextjs/vitest.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix
  .github/workflows/e2e-ci.yml
Due: none

build(next): fix `build` task. config file was with es6 syntax
  apps/nextjs/next.config.js
Due: eslint --fix, prettier --write

fix
  package.json
Due: none

build(ci): reorder so `build` is runing after `test`, or build will break since it generates .next folder with new package.json
  .github/workflows/ci.yml
  .gitignore
  apps/nextjs/.gitignore
Due: none

build: remove test:ci task for now
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/ci.yml
  .github/workflows/e2e-ci.yml
  packages/database/prisma/dev.db
Due: none

fix
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/ci.yml
  package.json
Due: none

fix
  package.json
  packages/database/package.json
Due: none

fix
  apps/nextjs/e2e/smoke.spec.ts
Due: prettier --write

last fix
  .github/workflows/ci.yml
Due: none

chore(next): upgrade @next/eslint-plugin-next so it will fit next@13
  packages/eslint-config-custom/package.json
Due: none

chore: add a `clean` task
  apps/backend/express/package.json
  apps/remix/package.json
  apps/vite/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

build(next): add a STANDALONE_BUILD flag so docker build will be different than dev build
  .dockerignore
  apps/nextjs/Dockerfile
  apps/nextjs/next.config.js
  apps/nextjs/package.json
Due: eslint --fix, prettier --write

add public folder to build
  apps/nextjs/Dockerfile
Due: none

move astro to port 3002
  apps/astro/package.json
Due: none

feat: addd commitlint
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: make eslint show errors only [skip ci]
  .lintstagedrc.js
Due: eslint --fix, prettier --write

chore(remix): make it run by default on port 3003
  apps/remix/package.json
Due: none

chore: update husky and lint-staged
  package.json
  pnpm-lock.yaml
Due: none

feat(remix): add a dockerfile to build and run the app in a container
  README.md
  apps/remix/Dockerfile
  docker-compose.yml
  turbo.json
Due: prettier --write

feat(astro): add dockerfile and add it to docker-compose
  apps/astro/Dockerfile
  apps/astro/astro.config.mjs
  apps/astro/package.json
  apps/astro/src/pages/index.astro
  apps/astro/tsconfig.json
  docker-compose.yml
  pnpm-lock.yaml
Due: none

build: upgrade all docker iamgs to be `node:lts-bullseye-slim` for better security
  .github/workflows/dev-stack.yml
  apps/astro/Dockerfile
  apps/backend/express/Dockerfile
  apps/nextjs/Dockerfile
  apps/remix/Dockerfile
  apps/vite/Dockerfile
Due: none

ci: add e2e tests to ci
  .github/workflows/ci.yml
  .gitignore
  e2e/index-page-next.spec.ts
  e2e/index-page-vite.spec.ts
  package.json
  playwright.config.ts
Due: prettier --write
