Repository kaminskypavel/fullpower-stack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build(vite): exclude test files from build
  apps/vite/tsconfig.json
Due: none

chore(astro): change package name to @fullpower/astro
  apps/astro/package.json
Due: none

feat(vite): added jotai as astate manager idk felt cute.. might delete later
  apps/vite/package.json
  apps/vite/src/App.tsx
  apps/vite/src/components/AddUserForm/AddUserForm.tsx
  apps/vite/src/pages/AddUserPage/index.tsx
  apps/vite/src/store/index.ts
  packages/database/src/client.ts
  pnpm-lock.yaml
Due: prettier --write

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

fixes
  apps/vite/package.json
  apps/vite/src/components/AddUserForm/AddUserForm.tsx
  apps/vite/src/pages/AddUserPage/index.tsx
  packages/ui/package.json
  packages/ui/src/UsersList/UsersList.tsx
Due: prettier --write

chore: update package-lock.yaml
  pnpm-lock.yaml
Due: none

chore(backend): do not rollup the files on 'build' instead just 'tsc' them
  apps/backend/express/package.json
Due: none

chore: upgrade @trpc to 10.0.0.0
  apps/backend/express/package.json
  apps/vite/package.json
  pnpm-lock.yaml
Due: none

chore(vite): fix build
  apps/vite/vite.config.ts
Due: prettier --write

feat(vite): integrate "@tanstack/router" + code split
  .prettierignore
  apps/vite/package.json
  apps/vite/src/App.tsx
  apps/vite/src/components/Navbar.tsx
  apps/vite/src/pages/About/index.tsx
  apps/vite/src/pages/AddUser/index.tsx
  apps/vite/src/pages/index.tsx
  apps/vite/src/router/index.tsx
  apps/vite/src/router/routes.ts
  pnpm-lock.yaml
Due: prettier --write

Update App.tsx
  apps/vite/src/App.tsx
Due: prettier --write

chore: upgrade to tRPC@10.0.4
  apps/backend/express/package.json
  apps/vite/package.json
  pnpm-lock.yaml
Due: none

chore: add dev.db to gitignore for future
  .gitignore
  packages/database/prisma/dev.db
Due: none

refactor(schema): add a clear distinction for Input and Output schemas for trpc endpoints
  packages/schema/src/index.ts
  packages/schema/src/zod/addUserSchema.ts
  packages/schema/src/zod/catSchema.ts
  packages/schema/src/zod/userSchema.ts
Due: prettier --write

feat(vite): add a new page called "cats" that call trpc enpoint with full types and retrieces and image of a cat
  apps/backend/express/src/controllers/cat.ts
  apps/backend/express/src/trpc/appRouter.ts
  apps/vite/src/components/AddUserForm/AddUserForm.tsx
  apps/vite/src/components/Navbar.tsx
  apps/vite/src/pages/AddUser/index.tsx
  apps/vite/src/pages/Cats/index.tsx
  apps/vite/src/router/index.tsx
  apps/vite/src/router/routes.ts
Due: prettier --write

test(backend): fix test
  apps/backend/express/src/app.spec.ts
Due: prettier --write

refactor(ui): remove ladle
  packages/ui/.ladle/components.tsx
  packages/ui/.ladle/styles.css
Due: prettier --write

test(ui): initial integration with storybook-vite insread of ladle
  packages/ui/.storybook/main.js
  packages/ui/.storybook/preview-head.html
  packages/ui/.storybook/preview.js
  packages/ui/.storybook/styles.css
  packages/ui/package.json
  packages/ui/src/UsersList/UsersList.stories.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(ui): rename "purge" to "content" as neede for v3
  packages/ui/tailwind.config.cjs
Due: none

refactor(ui): bubble storybook deps to the root package.json
  packages/ui/package.json
Due: none

chore(vite): remove ladle from vite
  apps/vite/package.json
  package.json
  pnpm-lock.yaml
Due: none

refactor(ui): change syntax to match storybook 7
  packages/ui/src/Button/Button.stories.tsx
Due: prettier --write

docs: add storybook logo
  README.md
  docs/apps/storybook.png
Due: prettier --write

add aliases
  apps/vite/setupTests.ts
  apps/vite/src/App.tsx
  apps/vite/src/components/AddUserForm/AddUserForm.tsx
  apps/vite/src/components/Navbar.tsx
  apps/vite/src/pages/AddUser/index.tsx
  apps/vite/src/pages/Cats/index.tsx
  apps/vite/src/router/index.tsx
  apps/vite/tsconfig.json
  apps/vite/vite.config.ts
Due: prettier --write

contributors
  .github/workflows/contributors.yml
Due: none

manual dispatch
  .github/workflows/contributors.yml
Due: none

Revert "Update App.tsx"
  apps/vite/src/App.tsx
Due: prettier --write

readme
  README.md
Due: prettier --write

fix
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

docs: add a "getting started" section [skip ci]
  README.md
Due: prettier --write

add yml
  .github/workflows/contributors.yml
Due: none

docs: minor improvments to readme
  README.md
Due: prettier --write

typo
  README.md
Due: prettier --write

lint: integrate cache into prettier and eslint
  .lintstagedrc.js
  package.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
